/* Fontes */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext);
/*font-family: 'Open Sans', sans-serif;*/


/*----------------------------------Inicio------------------------------------------- */

html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif ;
	font-size: 15px;
	line-height: 1.50;
	color: #333333;
	background-color: #ffffff;
	position: relative;
}


.banner-image{
    background-image: url("../img/banner.jpg");
     
    }
h1,h2{
	color: #333333;
}
h1 {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;
}
h2 {
	font-size: 18pt;
	margin-bottom: 10px;
}
h1 span,h2 span {
	color: #339BEB;
}



img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Layout
----------------------------------------------------------------------------- */

    
}
.header {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.10);
	padding: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.banner {
	height: 100%;
	color: #fff;
}
.banner-image {
	min-height: 100%;
	width: 100%;
}
.banner:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	content: "";
}
.banner-caption {
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 2;
}


.col-xs-12,.col-xs-12,.col-md-12,.col-md-4,.col-md-6,.col-md-3,.col-md-1{
	padding-left: 0;
	padding-right: 0;
}
.row{
	margin-right: 0;
	margin-left: 0;
}



.img-circle{
    display:block;
    width: 100px; 
	height: 100px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}


/* Footer */


#footer {
    background: black;
    padding: 10px;
  

}

#footer ul.social li a i {
    
	font-size:30px;color:#fff;
    margin:20px auto 0px auto;
}

.h6-footer{
    text-align: center;
    margin: 20px auto;
}

.banner-caption h1{
	color: #ffffff;
}
.banner-caption h1 {
	font-size: 60px;
}


.main-nav .navbar-default {
	background-color: transparent;
    background: rgba(0, 0, 0, 0.2);
	border: none;
}

.main-nav .navbar-default .navbar-nav > li > a {
    color: #fff;
	padding: 10px 24px;
	font-size: 16px; 
	font-weight: 300;
}

.main-nav .navbar-nav > li > a:hover{
	color: red;
}
